@model AlloHanda.Models.Trajet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trajet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseArrivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseArrivee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DureeEstimee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DureeEstimee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DemandeTransport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DemandeTransport.IdDemande)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTrajet">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
