@model IEnumerable<AlloHanda.Models.Trajet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdresseDepart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseArrivee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DureeEstimee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemandeTransport)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseDepart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseArrivee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DureeEstimee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DemandeTransport.IdDemande)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTrajet">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTrajet">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTrajet">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
