@model AlloHanda.Models.DemandeTransport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DemandeTransport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionMarchandise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionMarchandise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poids)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poids)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrixEstime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrixEstime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ApplicationUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chauffeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chauffeur.ApplicationUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDemande">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
