@model IEnumerable<AlloHanda.Models.Vehicule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Immatriculation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chauffeur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Immatriculation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chauffeur.ApplicationUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVehicule">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVehicule">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVehicule">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
